aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.0
click==8.4.2
cloudinary==1.40.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Limiter==3.8.0
frozenlist==1.8.0
gunicorn==23.0.0
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
libsql-client==0.3.0
MarkupSafe==3.0.3
multidict==6.7.1
packaging==26.3
propcache==0.5.2
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.0.1
yarl==1.24.5
